#zone {
    background-color: #008c31;
    width: 2000px;
    height: 850px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 2px;
    color: white;
    display: flex;
    gap: 20px;
    padding: 15px;
}
#zone div {
    height: 850px;
    flex-shrink: 0;
}
#zone div video {
    height: 820px;
}